/* Global styling */
body {
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #333;
    margin: 20px;
}

/* Header Styling */
#name {
  font-size: 18px;
  font-weight: 800;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.column {
  flex: 1;
  padding: 0px;
}

.contact {
  font-weight: 800;
}

.contact-align {
  text-align: right;
  padding: 0px 5px 0px 5px;
}

/* Page Margins */
@page {
    margin: .5in;
}
