@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Global styling */
body {
  font-family: 'Gill Sans MT', Calibri, sans-serif;
  font-size: 11px;
  line-height: 1.696;
  color: #333;
  margin: 20px;
}

/* Header Styling */
#name {
  font-size: 18px;
  font-weight: 800;
}

.three-columns {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 25px 5px;
  margin: 0px 0px 50px 0px;
  background-color: #f5f5f5;
}

.column {
  flex: 1;
  padding: 0px;
}

.contact {
  font-weight: 800;
}

.contact-align {
  text-align: right;
  padding: 0px 5px 0px 5px;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

/* Page Margins */
@page {
  size: 8.5in 11in;
  margin: .5in;
}
