/* Global styling */
body {
    font-family: 'Gill Sans MT', Calibri, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #333;
    margin: 20px;
}

/* Header Styling */
header {
    color: #004080;
    font-size: 28px;
    font-weight: 500;
}

h1, h2, h3 {
    color: #004080;
}

h1 {
    font-size: 15px;
    border-bottom: 2px solid #004080;
    margin-top: 25px;
}

h2 {
    font-size: 12px;
    font-weight: 400;
}

h3 {
    font-size: 18px;
}

/* Section spacing */
section {
    margin-bottom: 10px;
}

/* Bullet points */
ul {
    margin-top: 3px;
    margin-left: 20px;
    padding-left: 0;
}

li {
    margin-top: 0px;
    margin-bottom: 0px;
}

li::marker {
    color: #004080;
    font-weight: bold;
}

/* Paragraph spacing */
p {
    margin: 5px 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

/* Classes */
.strong {
    font-weight: 600;
}

.contact {
    margin-bottom: 40px;    
}

.job-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.company {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Misc */
.contact > span {
    margin-left: 5px;
    margin-right: 5px;
}

/* Page Margins */
@page {
    margin: 2cm;
}
